[Fluessigkeit1]
id = 1
name = Gin
menge = 610
position = 0
bottlesize = 700

[Fluessigkeit2]
id = 2
name = Whisky
menge = 700
position = 10
bottlesize = 700

[Fluessigkeit3]
id = 3
name = Rum
menge = 478
position = 20
bottlesize = 700

[Fluessigkeit4]
id = 4
name = Wodka
menge = 562
position = 30
bottlesize = 700

[Fluessigkeit5]
id = 5
name = Cointreau
menge = 361
position = 40
bottlesize = 700

[Fluessigkeit6]
id = 6
name = Tonic
menge = 790
position = 50
bottlesize = 1000

[Fluessigkeit7]
id = 7
name = Cola
menge = 925
position = 60
bottlesize = 1000

[Fluessigkeit8]
id = 8
name = Zitronensaft
menge = 100
position = 70
bottlesize = 100

[Fluessigkeit9]
id = 9
name = Grenadine
menge = 500
position = 80
bottlesize = 500

[Fluessigkeit10]
id = 10
name = TestSaft
menge = 500
position = 80
bottlesize = 500

[Fluessigkeit11]
id = 11
name = TestSaft2
menge = 494
position = 80
bottlesize = 500

[Linearführung]
gesamtlänge = 1000

[GUI_Size]
x = 800
y = 480

[Mailorder]
stat = 0

