[Drink1]
Name=Gin Tonic
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink2]
Name=TestDrinkAll
Gin=10
Whisky=10
Rum=10
Wodka=10
Cointreau=10
Tonic=10
Cola=10
Zitronensaft=10
Grenadine=10
Zuckersirup=10









