[Drink0]
Name=Gin Tonic
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink1]
Name=Gin Tonic
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink2]
Name=Test_drink
Gin=10
Whisky=10
Rum=10
Wodka=10
Cointreau=10
Tonic=10
Cola=10
Zitronensaft=10
Grenadine=10
Zuckersirup=10

[Drink3]
Name=Wodka Bull
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink4]
Name=Swimming pool
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink5]
Name=Cubalibre
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink6]
Name=MaiThai
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink7]
Name=Rezo classic
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0















