[Drink1]
Name=Gin Tonic
Gin=30
Whisky=0
Rum=0
Wodka=0
Cointreau=0
Tonic=70
Cola=0
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0

[Drink2]
Name=WodkaZauber
Gin=10
Whisky=10
Rum=0
Wodka=40
Cointreau=0
Tonic=0
Cola=40
Zitronensaft=0
Genadinesirup=0
Zuckersirup=0







